h2,h6{     
  color: #767d83;
}
#ph{
  width: 320px;
  box-shadow: 3px 3px 2px 3px #888888;}
#sec1{
  display: flex;
  justify-content: space-around;
 
}
Nav{
background-color: rgba(77, 75, 75, 0.445);
}

.para{
  line-height: 25px;
}
#form{
  display: flex;
}
footer{
  text-align: center;
  background-color: rgba(77, 75, 75, 0.445);
  padding:10px ;
  color: white;
}   